.initmax-free:before {
    content: '';

    background: url('../img/redes_logo_nome.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-clip: padding-box;

    display: flex;
    
    height: 4rem;

    margin: 2rem 0;
}
